*{
    padding:0px;
    margin:0px;
}
body{
    background-color: #00000029!important;
}
section{
    margin:0 auto!important;
    max-width:375px!important;
    background-color: #F9F9F9!important;
}
.my_header{
    border-radius: 10px!important;
    box-shadow: 0 5px 4px #77777777;
    width: 100% !important;
    background-color: #fff;
}
.my_header h3{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif!important;
    color:black;
}

.index_img{
    width: 100%;
    margin-top: 2%;
    position:relative;
}

.form{
    position: absolute;
    border-radius: 10px;
    bottom: 65px!important;
    background-color:#FD7C22!important;
}

.form-group input{
    display: inline-flex!important;
    border-radius: 20px;
    box-shadow: none!important;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif!important;
    color:#707070;
    margin-top: 5%;
}
.form-group h4{
    text-align: center;
    color: #fff;
    padding-top:5%;
}
.form-group h6{
    text-align: center;
    color: #fff;
    padding-top:5%;
}

.Track{
    color:#fff!important;
    background:#3240FF!important;
    margin-top: 5%;
    border-radius: 10px!important;
    width:50%;
}
.Our_Services{
    margin-top: 5%;
    background-color:#fff;
    border-radius: 10px!important;
}

.Our_Services h6{
    margin-top: 5%;
}
.Our_Services p{   
    font-size: 10px;
}

footer{
    bottom: -1%;
    position: fixed;
    background-color: #fff;
    max-width:375px!important;
    width: 100%;
    margin:0 auto!important;
    z-index: 5;
    box-shadow: 0 -5px 8px #77777777;
    border-radius: 10px 10px 0 0;
}

footer .my_img{
    font-size: 25px;
    margin-top: 15px;
}


.Nav_format{
    text-align: center;
    padding: 5px;
}

.whole-background{
    width:100%!important;
    height:700px;
    margin-top: 2%;
    background-image:url(../img/37273.png) ;
    border-radius: 10px;
    background-repeat: no-repeat;
    background-position: center;
   
}
.search{
    margin-top: 5%;
    border-radius: 20px;
    border-style: none;
    font-size: 20px;
    color:#FD7C22;
    width:150px;
    box-shadow: none;
    padding-left:10px ;
}
.my_container{
    margin-top: 5%;
    background:white;
    border-radius: 20px;
}
.my_progress span{
    margin-left:4px;
    font-size:16px;
}
.map-wrapper{
    max-width:375px;
    margin-top:10px;
    margin-left:0px!important;
}
.map{
    width:100%;
}
.my_row{
    box-shadow: 0 -5px 8px #77777777;
    border-radius:10px 10px 0 0;
    position: relative;
}
.my_row .para{
    background-color: #F5671A;
    opacity: 43%; 
    color:#fff; 
    width: 90px; 
    border-radius: 10px; 
    padding: 0 10px;
}
.box{
    position:absolute;
    bottom:20%;
    box-shadow: 0 -5px 8px #77777777;
    border-radius: 10px;
}
.Arrival_para p{
    color:#F5671A;
    font-size:15px;
    background-color: none!important;
}
.Weight_para p{
    color:#F5671A;
    font-size:15px;
    background-color: none!important;

}


@media only screen and (max-width: 600px){
    

.box{
    width:88px;
    margin-bottom:-45px;
}    
.my_product-name h5  {  
    text-align: center;     
}
.my_product-name .para{
    text-align: center;
    margin-left:105px;
}
.Arrival_para{
    max-width:50%!important;
}
.Weight_para{
    max-width: 50%!important;
}
.my_check{
    width:20%!important;
    float:left;
}
.check_para{
    width:80%!important;
}
}